langchain==0.3.25
langchain-community==0.3.24
langchain-ollama==0.3.2
pandas==2.2.3
spacy==3.8.5
spacy_dbpedia_spotlight==0.2.6
rdflib==7.1.4
owlready2==0.47
owlapy==1.5.0
SPARQLWrapper==2.0.0
entity-fishing-client==0.7.2
notebook==7.4.2
streamlit==1.45.1
openpyxl==3.1.5
networkx==3.4.2
pyvis==0.3.2
stvis==0.0.2
stqdm==0.0.5